.gameContainer {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    min-width: 155px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buttonPrimary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.buttonPrimary:hover {
    background-color: #105b9c;
}

.buttonContainer {
    min-height: 34px;
    width: 370px;
    display: flex;
    justify-content: space-evenly;
}

.infoText {
    color: yellow;
    border-radius: 20px;
    border-color: white;
    font-size: 50px;
}

.scoreContainer {
    min-width: 335px;
    background-color: rgba(220, 220, 220, 0.85);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scoreContainer p {
    margin: 10px 30px;
    font-size: 25px;
    font-family: initial;
}

.menu {
    margin: 15px 0px;
}